.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Блок header */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  background-color: #f2f2f2;
}

.logo {
  width:183px;
}

.logo_place_header {
  height: 32px;
  position:absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  max-width: 730px;
  margin-left: 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  z-index:10;
  align-self: center;
}

.header__subtitle {
  position: absolute;
  display: inline-block;
  width: 388px;
  bottom: 30px;
  left:64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  color:#2f80ed;
  text-decoration: none;
}

.header__link:hover {
  text-decoration: underline;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
}

/* Блок Description */

.description {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief {
  margin:0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin:0;
  padding-bottom: 30px;
}

.two-columns__paragraph:last-child {
  padding-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

/* Блок digits */

.digits {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin:0;
  margin-bottom:20px;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin:0;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
 }

.table__text {
  line-height: 1.15;
  font-size: 18px;
  font-weight: normal;
  margin:0;
  margin-top: 20px;
}

.table {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  justify-content: space-between;
  margin: auto;
  list-style: none;
  padding: 0;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
  vertical-align: top;
}

/* Блок feynman */

.feynman {
  height: 890px;
  background-image:url('../images/feynman.png');
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 867px 637px;
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
}

.feynman__title {

  font-size: 120px;
  padding-top: 100px;
  width: 648px;
  text-align: center;
  font-weight: bold;
  margin:0;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin-top: 70px;
  text-align: center;
}

.feynman__link {
  position: absolute;
  right:0px;
  bottom: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  padding-right: 48px;
  color:#2f80ed;
  text-decoration: none;
}

.feynman__link:hover {
  text-decoration: underline;
}

/*Блок kaufman*/

.kaufman {
  overflow: hidden;
  background-color: #1f1f1f;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 0;
}

.section-title_theme_dark {
  color: white;
}
.section-subtitle_theme_dark {
  color: white;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table_theme_dark {
  position: inherit;
  z-index: 1;
}

.kaufman__triangle {
  position: absolute;
  background-image:url('../images/kaufman-triangle.svg');
  background-size: cover;
  z-index: 0;
  top: 0px;
  right: -210px;
  width: 877px;
  height: 877px;
}

/*Блок footer*/

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
  color: white;
}

.logo_place_footer {
  height: 35px;
}

.footer__columns {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin-bottom: 60px;
  margin: 60px auto;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
  }

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-top:0;
  margin-bottom:20px;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color:white;
}

.footer__column-links {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}
